{{define "title"}}New configuration | GoYeah!{{end}}
{{define "head"}}
<link href="/static/css/stolen.css" media="screen" rel="stylesheet">
{{end}}
{{define "content"}}
<h1>Add new list configuration:</h1>
<form method="POST">
    <label>Configuration name:</label><br />
    <input type="text" name="configname" value="{{if .Configname}}{{.Configname}}{{end}}">
    {{- if .ConfignameModal}}
    <label id="configuration-name-error" class="error" for="configname" style="color: red">{{.ConfignameModal}}</label>
    {{- end -}}
    <br />

    <label>Header:</label><br />
    <input type="text" name="header" value="{{if .Header}}{{.Header}}{{end}}">
    <br />

    <label>Footer:</label><br />
    <input type="text" name="footer" value="{{if .Footer}}{{.Footer}}{{end}}">
    <br />

    <label>URL format:</label><br />
    <input type="text" name="urlformat" value="{{if .Urlformat}}{{.Urlformat}}{{else}}{url}{{end}}">
    {{- if .UrlformatModal}}
    <label id="configuration-name-error" class="error" for="Urlformat" style="color: red">{{.UrlformatModal}}</label>
    {{- end -}}
    <br />

    <input type="submit">
</form>
{{end}}
{{define "foot"}}{{end}}