{{define "title"}}Listy{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<table style="width:100%">
	<tr>
		<th></th>
		<th>URL</th>
		<th>Lista</th>
		<th>Szablon</th>
		<th>Pelny adres URL</th>
	</tr>
	{{range .DeployedLists}}
	<tr>
		<td><input type="checkbox" name="{{.ID}}"></td> 
		<td>{{.URL}}</td>
		<td>{{.ListName}}</td>
		<td>{{.TemplateName}}</td>
		<td>
			<button">Edytuj</button>
			<button  name="{{.ID}}">Usun</button>
		</td>
	</tr>
	{{end}}
</table>
<button id="delete">Usun</button>
<div id="output"></div>
{{end}}
{{define "foot"}}
<script>
	$("#delete").on("click", function() {
		var checked_checkboxes = $( "input:checked" );
		var ids = []

		for (var i = 0; i < checked_checkboxes.length; i++) {
			ids.push(checked_checkboxes[i].getAttribute("name"))
		}

		var output = {
			ids: ids
		};

		$.post("/lists", output, function() {
			location.reload(); 
		});
	})
</script>
{{end}}