{{define "title"}}Deployed lists{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/static/image/orlen_logo.png" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/domains">Domains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lists">Lists</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/deployed_lists">Deployed lists</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" id="delete">
                    Delete
                </button>
                <a href="/login" type="button" class="btn" id="delete">
                    Login
                </a>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table">
        <tr class="thead-dark">
            <th></th>
            <th>URL</th>
            <th>List</th>
            <th>Template</th>
            <th>Full url</th>
        </tr>
        {{range .Deployments}}
        <tr>
            <td><input type="checkbox" name="{{.ID}}"></td>
            <td>{{.URL}}</td>
            <td>{{.ListName}}</td>
            <td>{{.TemplateName}}</td>
            <td>www.adresstrony.pl/{{.URL}}</td>
        </tr>
        {{end}}
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Deploy new list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="url" placeholder="Enter url">
                <select class="combobox" id="list_id">
                    {{range .Lists}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
                <select class="combobox" id="template_id">
                        {{range .Templates}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                </select>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="button" id="new_deployment" class="btn btn-primary">Deploy</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "foot"}}

<script>
$("#create_new_deployment").on("click", function() {
    var list_id = $("#list_id").val();
    var template_id = $("#template_id").val();

    alert(list_id);
    alert(template_id);
})
</script>
{{end}}