{{define "title"}}Domain rating{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/static/image/orlen_logo.png" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/domains">Domains<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lists">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates">Templates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deployments">Deployments</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/login" type="button" class="btn" id="delete">
                    Login
                </a>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table">
        <tr class="thead-dark">
            <th></th>
            <th>Domain</th>
            <th>Rating</th>
            <th></th>

        </tr>
        {{range .Domains}}
        <tr>
            <td><input type="checkbox" name="{{.ID}}"></td>
            <td>{{.URL}}</td>
            <td>{{.Rating}}</td>
            <!-- Icon made by https://www.flaticon.com/authors/srip licensed by CC 3.0 BY -->
            <td>
                {{if (ge .Rating 7.0)}}<img src="/static/image/protection.png" height="30" alt="">
                <!-- Icon made by https://www.flaticon.com/authors/twitter licensed by CC 3.0 BY -->
                {{else}}{{if (ge .Rating 4.0)}}<img src="/static/image/warning.png" height="30" alt="">
                <!-- Icon made by https://www.flaticon.com/authors/maxim-basinski licensed by CC 3.0 BY -->
                {{else}}<img src="/static/image/cancel.png" height="30" alt="">{{end}}{{end}}
                <!-- Icon made by https://www.freepik.com/ licensed by CC 3.0 BY -->
                {{if .Malicious}}&nbsp&nbsp<img src="/static/image/malware.png" height="30" alt="">{{end}}
            </td>
        </tr>
        {{end}}
    </table>
</div>

{{end}}
{{define "foot"}}
<script>
</script>
{{end}}