{{define "title"}}Domain rating{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/static/image/orlen_logo.png" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/domains">Domains<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lists">Lists</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" href="/templates">Templates</a>
				</li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#exampleModalCenter2">
                    Add
                </button>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModalCenter">
                    Create new list
                </button>

                <button type="button" class="btn btn-danger" data-toggle="modal" id="delete">
                    Delete
                </button>
                <a href="/login" type="button" class="btn" id="delete">
                    Login
                </a>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table">
        <tr class="thead-dark">
            <th></th>
            <th>Domain</th>
            <th>Rating</th>
        </tr>
        {{range .Domains}}
        <tr>
            <td><input type="checkbox" name="{{.ID}}"></td>
            <td>{{.URL}}</td>
            <td>{{.Rating}}</td>
        </tr>
        {{end}}
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter Title name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="name" placeholder="Enter list name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="button" id="create_new_list" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter URL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="url" placeholder="URL / IP">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="button" id="add_new_url" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

{{end}}
{{define "foot"}}
<script>
    $("#add_new_url").on("click", function () {
        var url = $("#url").val();

        if (url == "") {
            $("#url").addClass("is-invalid");
        } else {
            $("#url").removeClass("is-invalid");
        }

        var output = {
            name: url
        };

        $.post("/domains/add", output, function (data) {
            if (data != "")
                alert(data);
            location.reload();

        }).fail(function (response) {
            alert('Error: ' + response.responseText);
        });;
    });

    $("#create_new_list").on("click", function () {
        var checked_checkboxes = $("input:checked");
        var ids = []

        for (var i = 0; i < checked_checkboxes.length; i++) {
            ids.push(checked_checkboxes[i].getAttribute("name"))
        }

        var name = $("#name").val();

        if (name == "") {
            $("#name").addClass("is-invalid");
        } else {
            $("#name").removeClass("is-invalid");
        }

        var output = {
            ids: ids,
            name: name
        };

        $.post("/domains/list", output, function (data) {
            if (data != "")
                alert(data);
            location.reload();

        }).fail(function (response) {
            alert('Error: ' + response.responseText);
        });;
    });

    $("#delete").on("click", function () {
        var checked_checkboxes = $("input:checked");
        var ids = []

        for (var i = 0; i < checked_checkboxes.length; i++) {
            ids.push(checked_checkboxes[i].getAttribute("name"))
        }

        var output = {
            ids: ids
        };

        $.post("/domains/delete", output, function (data) {
            if (data != "")
                alert(data);
            location.reload();

        }).fail(function (response) {
            alert('Error: ' + response.responseText);
        });;
    });
</script>
{{end}}