{{define "title"}}Listy{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="/static/image/orlen_logo.png" height="30" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/domains">Domains</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/lists">Lists</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/templates">Templates</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/deployments">Deployments</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<a type="create" class="btn btn-success mr-2" href="/domains">
					New list
				</a>
				<button type="button" class="btn btn-danger" id="delete">
					Delete
				</button>
				<a href="/login" type="button" class="btn" id="delete">
						Login
				</a>
			</form>
		</div>
	</div>
</nav>
<div class="container">

	<table class="table">
		<tr class="thead-dark">
			<th></th>
			<th>List name</th>
			<th>Actions</th>
		</tr>
		{{range .Lists}}
		<tr>
			<td>
				<input type="checkbox" name="{{.ID}}">
			<td>{{.Name}}</td>
			<td>
				<a href="/lists/{{.Name}}" class="btn btn-secondary">View</a>
				<button class="btn">Edit</button>
				<button class="btn">Delete</button>
			</td>
		</tr>
		{{end}}
	</table>
</div>
{{end}}
{{define "foot"}}
<script>
	$("#delete").on("click", function () {
		var checked_checkboxes = $("input:checked");
		var ids = []

		for (var i = 0; i < checked_checkboxes.length; i++) {
			ids.push(checked_checkboxes[i].getAttribute("name"))
		}

		var output = {
			ids: ids
		};

		$.post("/lists", output, function (data) {
			if (data != "")
				alert(data);
			location.reload();

		});
	});
</script>
{{end}}