{{define "title"}}Login | GoYeah!{{end}}
{{define "head"}}
<link href="/static/css/stolen.css" media="screen" rel="stylesheet">
<link href="https://www.bitfinex.com/assets/base-766835e906526f0a59a3de42ab9d54bf0fd0cd721a0575c40a9a54356185f969.css" media="screen" rel="stylesheet">
{{end}}
{{define "content"}}
<div class="hero" id="signup">
                    
  <div id="header" class="landing-header">
    
  </div>
    <div id="login-modal" class="modal" style="z-index: 1003; display: block; opacity: 1; transform: scaleX(1); top: 10%;">
<h3>Log in</h3>
<div class="modal-content" style="padding-top:0;"><form accept-charset="UTF-8" action="/login" method="post" data-remote="true" novalidate="novalidate"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="/2Z+pSBIRadBTwILLydY0kHBQsZ7wqgCWjSqZmU9y/0="></div>
<input type="hidden" id="redirect-after-login" name="redirect">

<div class="url-warning">
  <p><span style="font-weight: bold;">Important!</span>: Please check that you are visiting https://legoracer.ddns.net<br>
    <img alt="URL" src="/static/image/login/secure.png">
  </p>
</div>

<div class="row" style="margin-bottom:15px;">

  <div class="col s12 m6 l6 input-field">
    <input id="login" name="login" autocomplete="off" type="text" value="{{if .Login}}{{.Login}}{{end}}">
    <label for="login" class="active">Username or Email</label>
  </div>

  <div class="col s12 m6 l6 input-field">
    <input id="auth-password" name="password" type="password">
    <label for="auth-password" class="active">Password</label>
  </div>


</div>

<div class="row">
  <div class="col s12" style="text-align: right;">
    {{if .LoginFailure}}<span style="line-height: 36px;padding-right: 60px;color:#e6492e">Incorrect login or password</span>{{end}}

    <span style="line-height: 36px;padding-right: 20px;color:#a4a9ac">
      <a href="/password_resets/new">Forgot your password?</a>
    </span>

    <button class="btn btn-green" type="submit" style="float:none;" name="action" data-disable-with="<div class='hide-text'>Log in</div><i class='fa fa-circle-o-notch fa-spin'>">
      Log in
    </button>

    <a href="javascript:void(0)" onclick="$('.modal').closeModal();" class="cancel-action">
      Cancel
    </a>

  </div>
</div>

</form></div>
</div>
</div>
{{end}}
{{define "foot"}}{{end}}