{{define "title"}}Szablony{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="/static/image/orlen_logo.png" height="30" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/domains">Domains</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/lists">Lists</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/templates">Templates</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/deployments">Deployments</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModalCenter">
					Create new template
				</button>
				<button type="button" class="btn btn-danger" id="delete">
					Delete
				</button>
				<a href="/login" type="button" class="btn" id="delete">
					Login
				</a>
			</form>
		</div>
	</div>
</nav>
<div class="container">

	<table class="table">
		<tr class="thead-dark">
			<th></th>
			<th>Template name</th>
			<th>Header</th>
			<th>Footer</th>
			<th>URL template</th>
		</tr>
		{{range .Templates}}
		<tr>
			<td>
				<input type="checkbox" name="{{.ID}}">
			<td>{{.Name}}</td>
			<td>{{.Header}}</td>
			<td>{{.Footer}}</td>
			<td>{{.UrlTemplate}}</td>
		</tr>
		{{end}}
	</table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Create new template</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control mb-3" id="name" placeholder="Enter template name">
				<textarea class="form-control mb-3" id="header" rows="5" placeholder="Enter header"></textarea>
				<textarea class="form-control mb-3" id="footer" rows="5" placeholder="Enter footer"></textarea>
				<textarea class="form-control" id="urlTemplate" rows="5" placeholder="Enter prefix{URL}suffix"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
				<button type="button" id="create_new_template" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
{{end}}
{{define "foot"}}
<script>
	$("#create_new_template").on("click", function () {
		var name = $("#name").val();
		var header = $("#header").val();
		var footer = $("#footer").val();
		var urlTemplate = $("#urlTemplate").val();

		if (name == "") {
			$("#name").addClass("is-invalid");
		} else {
			$("#name").removeClass("is-invalid");
		}

		if (!urlTemplate.includes("{URL}")) {
			$("#urlTemplate").addClass("is-invalid");
		} else {
			$("#urlTemplate").removeClass("is-invalid");
		}

		var output = {
			name: name,
			header: header,
			footer: footer,
			urlTemplate: urlTemplate
		};

		$.post("/templates/add", output, function (data) {
			if (data != "")
				alert(data);
			location.reload();

		}).fail(function (response) {
			alert('Error: ' + response.responseText);
		});;
	});

	$("#delete").on("click", function () {
		var checked_checkboxes = $("input:checked");
		var ids = []

		for (var i = 0; i < checked_checkboxes.length; i++) {
			ids.push(checked_checkboxes[i].getAttribute("name"))
		}

		var output = {
			ids: ids
		};

		$.post("/templates", output, function (data) {
			if (data != "")
				alert(data);
			location.reload();

		}).fail(function (response) {
			alert('Error: ' + response.responseText);
		});;
	});
</script>
{{end}}