{{define "title"}}Change password | Pundex{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<h1>Change Password</h1>
<form method="POST">
    <label>Old password:</label><br />
    <input type="password" name="oldpassword"><br />

    <label>New password:</label><br />
    <input type="password" name="newpassword1"><br />

    <label>Retype new password:</label><br />
    <input type="password" name="newpassword2"><br />
    

    <input type="submit">
</form>
{{end}}
{{define "foot"}}{{end}}
